<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Sporthal Huren</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/bootstrap-slider/css/slider.css" />
    <link rel="stylesheet" href="~/css/navbar.css"/>
    <link rel="stylesheet" href="~/css/Footer.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/StyleSheetHome.css" />

    <!-- Zet altijd eerst je geimporteerde CSS bovenaan (jquery, bootstrap etc. dan je eigen als laatste -->

</head>
<body>
    <div class="navbar navbar-static-top" Id="Navbar">
        <div class="container">

            <div class="navbar-header">
                <a class="btn btn" asp-action="Index" asp-controller="Home" id="navbarTextColorBlack">
                    <img src="~/img/logo.png" alt="logo" style="width:290px;height:32px;">
                    
                </a>
            </div>


            <div class="nav navbar-nav navbar-right">
                <a asp-controller="Reserve" asp-action="SearchView" class="navbar-brand" id="navbarTextColorBlack">Reserveringen</a>
            </div>

            <div class="nav navbar-nav navbar-right">
                <a asp-controller="Filter" asp-action="FilterView" class="navbar-brand" id="navbarTextColorBlack">Sporthallen</a>

            </div>


            <div class="nav navbar-nav navbar-right">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand" id="navbarTextColorBlack">Home</a>
            </div>


        </div>
    </div>

    <div class="page-wrap">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <div class="site-footer">
        <div class="container">
            <span class="text-muted">Admin? Klik <a asp-controller="Admin" asp-action="Index">hier</a>.</span> 
            <span class="pull-right">Disclaimer Klik <a asp-controller="Home" asp-action="Disclaimer">hier</a></span> 
        </div>
    </div>

</body>
</html>