@model SporthalC3.Models.SportsHall

@{
    ViewData["Title"] = "Huren";
}
<div class="well">
    <div class="panel-body">
        <h1>@Model.SportsBuilding.Name</h1>
        <h3>Wanneer?</h3>
    </div>

    @{
        if (ViewBag.error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.error
            </div>
        }
    }

    <form class="p-a-1" asp-controller="Reserve" asp-action="ReserveTimePick">

        <input type="hidden" name="SportHallID" value=@Model.SportsHallID />

        <label>Kies een datum:</label>

        <input type="date" name="date" />

        <div class="text-center">
            <button class="btn btn-primary" type="submit">
                Kies een tijd
            </button>
        </div>
    </form>
</div>
