@model ReserveViewModel

@{
    ViewData["Title"] = "Search";
}


<div class="well">
    <form asp-controller="Reserve" asp-action="SearchView" method="GET">
        <div class="row">
            <div class="p-a-1">
                <label>Vul uw emailadres in:</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" value=@Model.seachEmail name="email" />
                    <input type="hidden" name="searched" value="true">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <div class="p-a-1">
                <div class="col-md-6">
                    <div class="checkbox">
                        @{
                            if (Model.futureReserves == true)
                            {
                                <label><input checked type="checkbox" name="featureReserves"> Alleen toekomstige reserveringen</label>
                            }
                            else
                            {
                                <label><input type="checkbox" name="featureReserves"> Alleen toekomstige reserveringen</label>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <select class="form-control" name="orderBy">
                        @{
                            if (Model.OrderBy == "no")
                            {
                                <option selected value="no">Nieuw - Oud</option>
                            }
                            else
                            {
                                <option value="no">Nieuw - Oud</option>
                            }
                            if (Model.OrderBy == "on")
                            {
                                <option selected value="on">Oud - Nieuw</option>
                            }
                            else
                            {
                                <option value="on">Oud - Nieuw</option>
                            }
                        }
                    </select>
                </div>




            </div>
        </div>
    </form>

    <div id="List">
        @if (Model.Searched)
        {
            @foreach (var p in Model.ReserveList)
            {
                @Html.Partial("ReservationSummary", p)


            }

            @if (Model.ReserveList.Count() == 0)
            {
                <div class="alert alert-danger">
                    <strong>Helaas!</strong> Er is niks gevonden.
                </div>


            }
        }

    </div>
</div>
