<h2>Disclaimer</h2>
<div>
    De informatie op deze website is uitsluitend bedoeld als algemene informatie. Er kunnen geen rechten aan de informatie op deze website worden ontleend. Hoewel Sporthalhuren.nl zorgvuldigheid in acht neemt bij het samenstellen en onderhouden van deze website en daarbij gebruik maakt van bronnen die betrouwbaar geacht worden, kunnen wij niet instaan voor de juistheid, volledigheid en actualiteit van de geboden informatie. Sporthalhuren.nl garandeert net dat de website foutloos of ononderbroken zal functioneren of vrij zijn van virussen. Sporthalhuren.nl wijst iedere aansprakelijkheid ten aanzien van de juistheid, volledigheid, actualiteit van de geboden informatie en het (ongestoord) gebruik van deze website uitdrukkelijk van de hand.
</div>