@model IndexViewModel

    @{
        ViewData["Title"] = "Home";
    }



    @Html.Partial("HomePageCarousel")

<div class="row">
    <div class="col-12">
        <h3>Sporthallen huren</h3>
    </div>
    <div class="col-12 col-md-6">
        <p>
            <hr />
            Op deze site kunnen sporthallen gehuurd worden in heel Nederland voor diverse sporten. Er kan gezocht worden op de sport en locatie voor de sporthallen in de buurt. U kunt vervolgens online een sporthal huren door de stappen te doorlopen in het reserveringssysteem. Bedankt voor het gebruik maken van sporthalhuren.nl!
        </p>
    </div>
    <div class="col-12 col-md-6 form-group">
        <div class="panel-body">
            <form class="p-a-1" asp-controller="Filter" asp-action="FilterView">

                <div class="form-group">
                    <label>Kies een Sport</label>
                    <select class="form-control" name="sportname">
                        <option value=null>Alle Sporten</option>
                        @{
                            foreach (Sport sport in Model.sportList)
                            {
                                <option value=@sport.Name> @sport.Name </option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Kies je locatie</label>
                    <select class="form-control" name="City">
                        <option value=null>Alle Locaties</option>
                        @{
                            foreach (SportsBuilding sportbuilding in Model.sportBuildingList)
                            {
                                <option value=@sportbuilding.City> @sportbuilding.City </option>
                            }
                        }
                    </select>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Zoek een sporthal
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>



