@{ 
    ViewData["Title"] = "Beheer";
    Layout = "_AdminLayout";
}


<a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="Sport">
    Sport
</a>
<a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="SportsHall">
    Sporthal
</a>
<a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="SportsBuilding">
    Sportgebouw
</a>
<a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="SportsBuildingAdministrator">
    Sportgebouw beheerder
</a>
