@model IEnumerable<Sport>

@{
    ViewData["Title"] = "Beheer";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.SportID</td>
            <td>@item.Name</td>
            <td class="text-center">
                <form asp-action="DeleteSport" method="post">
                    <a asp-action="EditSportView" class="btn btn-sm btn-warning"
                       asp-route-sportID="@item.SportID">
                        Edit
                    </a>
                    <input type="hidden" name="SportID" value="@item.SportID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>

    }
</table>
<div class="text-center">
    <a asp-action="CreateSport" class="btn btn-primary">Toevoegen</a>
</div>